<h1>Bitstarter homepage</h1>

<div class="project">

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/2000px-Smiley.svg.png" width="200" height="200"> 

<h2>Project name
</h2>

<div class="description">
Shank doner salami short loin sirloin cow biltong alcatra. Corned beef alcatra beef, cupim filet mignon landjaeger turducken tri-tip meatball ham porchetta pancetta chicken shankle pork chop. Salami kielbasa pork tail, pork loin spare ribs beef alcatra chicken cupim picanha shankle cow flank ham hock. Salami tenderloin shoulder short loin sirloin swine. Pig rump pancetta, landjaeger capicola alcatra cow pork loin swine boudin ground round frankfurter ball tip salami.
</div>

<div class="received"><span>145</span> Ƀ<br />
Funds received
</div>

<div class="goal"><span>3000</span> Ƀ<br />
Goal
</div>


<div class="support">
<br /><a href="#">Support</a>
</div>

</div>