<div class="form-style-5">

<form method="post" action="/projects/add">
	<label for="project-name">Project name</label>
	<input id="project-name" name="name" type="text">
	<label for="description">Description</label>
	<input id="description" name="description" type="text">
	<label for="goal-amount">Goal Amount</label>
	<input id="goal-amount" name="amount" type="text">
	<label for="token">Token</label>
	<input id="token" name="token" type="text">
	<input type="submit" value="Add Project">
</form>

</div>
