<div class="form-style-5">

<form method="post" action="/projects/edit/{{id}}">
	<label for="project-name">Project name</label>
	<input id="project-name" name="name" type="text" value="{{name}}">
	<label for="description">Description</label>
	<input id="description" name="description" type="text" value="{{description}}">
	<label for="goal-amount">Goal Amount</label>
	<input id="goal-amount" name="amount" type="text" value="{{amount}}">
	<label for="token">Token</label>
	<input id="token" name="token" type="text" value="{{token}}">
	<input type="submit" value="Save">
</form>

</div>
